@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		height: 100vh;
		overflow-y: hidden;
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		line-height: 1.5;
		font-weight: 400;
	
		color-scheme: light dark;
		color: rgba(255, 255, 255, 0.87);
		background-color: #242424;
	
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	body {
		margin: 0;
		display: flex;
		place-items: center;
		min-width: 320px;
		min-height: 100vh;
	}
	
	/* video player */
	video {
		object-fit: cover;
	}
}

@layer utilities {
	.products-list-container {
		transform: translate(0, 150rem);
		transition: all 0.5s ease-in-out;
	}
	
	.products-list-container.active {
		transform: translate(0, 0);
		transition: all 0.5s ease-in-out;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}


